EXPLORING THE DATASET

1. Loading the Dataset

In [4]:
import pandas as pd
df= pd.read_csv('../data/first_25000_rows.csv')
df.head()

,ts_recv,ts_event,rtype,publisher_id,instrument_id,action,side,depth,price,size,...,ask_sz_08,bid_ct_08,ask_ct_08,bid_px_09,ask_px_09,bid_sz_09,ask_sz_09,bid_ct_09,ask_ct_09,symbol
0,2024-10-21T11:54:29.221230963Z,2024-10-21T11:54:29.221064336Z,10,2,38,C,B,1,233.62,2,...,155,1,7,233.25,234.13,55,400,2,1,AAPL
1,2024-10-21T11:54:29.223936626Z,2024-10-21T11:54:29.223769812Z,10,2,38,A,B,0,233.67,2,...,155,1,7,233.25,234.13,55,400,2,1,AAPL
2,2024-10-21T11:54:29.225196809Z,2024-10-21T11:54:29.225030400Z,10,2,38,A,B,0,233.67,3,...,155,1,7,233.25,234.13,55,400,2,1,AAPL
3,2024-10-21T11:54:29.712600612Z,2024-10-21T11:54:29.712434212Z,10,2,38,A,B,2,233.52,200,...,155,1,7,233.25,234.13,55,400,2,1,AAPL
4,2024-10-21T11:54:29.764839221Z,2024-10-21T11:54:29.764673165Z,10,2,38,C,B,2,233.52,200,...,155,1,7,233.25,234.13,55,400,2,1,AAPL

2. Explore the data

In [6]:
#colum info
df.info()
#check null values
df.isnull().sum()
#Unique symbols
df['symbol'].unique()
#depth levels
df['depth'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 74 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ts_recv        5000 non-null   object
 1   ts_event       5000 non-null   object
 2   rtype          5000 non-null   int64
 3   publisher_id   5000 non-null   int64
 4   instrument_id  5000 non-null   int64
 5   action         5000 non-null   object
 6   side           5000 non-null   object
 7   depth          5000 non-null   int64
 8   price          5000 non-null   float64
 9   size           5000 non-null   int64
 10  flags          5000 non-null   int64
 11  ts_in_delta    5000 non-null   int64
 12  sequence       5000 non-null   int64
 13  bid_px_00      5000 non-null   float64
 14  ask_px_00      5000 non-null   float64
 15  bid_sz_00      5000 non-null   int64
 16  ask_sz_00      5000 non-null   int64
 17  bid_ct_00      5000 non-null   int64
 18  ask_ct_00      5000 non-null   int64
 19  bid_px_01      5000 non-null   float64
 20  ask_px_01      5000 non-null   float64
 21  bid_sz_01      5000 non-null   int64
 22  ask_sz_01      5000 non-null   int64
 23  bid_ct_01      5000 non-null   int64
 24  ask_ct_01      5000 non-null   int64
 25  bid_px_02      5000 non-null   float64
 26  ask_px_02      5000 non-null   float64
 27  bid_sz_02      5000 non-null   int64
 28  ask_sz_02      5000 non-null   int64
 29  bid_ct_02      5000 non-null   int64
 30  ask_ct_02      5000 non-null   int64
 31  bid_px_03      5000 non-null   float64
 32  ask_px_03      5000 non-null   float64
 33  bid_sz_03      5000 non-null   int64
 34  ask_sz_03      5000 non-null   int64
 35  bid_ct_03      5000 non-null   int64
 36  ask_ct_03      5000 non-null   int64
 37  bid_px_04      5000 non-null   float64
 38  ask_px_04      5000 non-null   float64
 39  bid_sz_04      5000 non-null   int64
 40  ask_sz_04      5000 non-null   int64
 41  bid_ct_04      5000 non-null   int64
 42  ask_ct_04      5000 non-null   int64
 43  bid_px_05      5000 non-null   float64
 44  ask_px_05      5000 non-null   float64
 45  bid_sz_05      5000 non-null   int64
 46  ask_sz_05      5000 non-null   int64
 47  bid_ct_05      5000 non-null   int64
 48  ask_ct_05      5000 non-null   int64
 49  bid_px_06      5000 non-null   float64
 50  ask_px_06      5000 non-null   float64
 51  bid_sz_06      5000 non-null   int64
 52  ask_sz_06      5000 non-null   int64
 53  bid_ct_06      5000 non-null   int64
 54  ask_ct_06      5000 non-null   int64
 55  bid_px_07      5000 non-null   float64
 56  ask_px_07      5000 non-null   float64
 57  bid_sz_07      5000 non-null   int64
 58  ask_sz_07      5000 non-null   int64
 59  bid_ct_07      5000 non-null   int64
 60  ask_ct_07      5000 non-null   int64
 61  bid_px_08      5000 non-null   float64
 62  ask_px_08      5000 non-null   float64
 63  bid_sz_08      5000 non-null   int64
 64  ask_sz_08      5000 non-null   int64
 65  bid_ct_08      5000 non-null   int64
 66  ask_ct_08      5000 non-null   int64
 67  bid_px_09      5000 non-null   float64
 68  ask_px_09      5000 non-null   float64
 69  bid_sz_09      5000 non-null   int64
 70  ask_sz_09      5000 non-null   int64
 71  bid_ct_09      5000 non-null   int64
 72  ask_ct_09      5000 non-null   int64
 73  symbol         5000 non-null   object
dtypes: float64(21), int64(48), object(5)
memory usage: 2.8+ MB

array([1, 0, 2, 6, 4, 3, 5, 7, 8, 9])

PREPROCESSING

1. Convert Timestamps

In [7]:
df['ts_event']=pd.to_datetime(df['ts_event'],utc=True)

2. Sort Chronologically

In [8]:
df=df.sort_values('ts_event')

3. Filter Relevant Colums

In [10]:
df = df[['ts_event', 'symbol', 'side', 'action', 'depth', 'price', 'size']]

4. Validate 'side' and 'action' values

In [11]:
print(df['side'].unique())
print(df['action'].unique())

['B' 'A' 'N']
['C' 'A' 'T']

5. Drop Missing or Invalid Rows

In [12]:
df = df.dropna(subset=['ts_event', 'symbol', 'side', 'action', 'depth', 'price', 'size'])

6. Standardize data types

In [13]:
df['depth']= df['depth'].astype(int)
df['size']=df['size'].astype(int)
df['price']=df['price'].astype(float)

Saving the cleaned dataset

In [18]:
import os

# Create folder if it doesn't exist
os.makedirs("TRAIL TASK/Data", exist_ok=True)

# Now save the cleaned CSV
df.to_csv("../Data/cleaned_first_25000_rows.csv", index=False)

print("Saved cleaned file to: TRAIL TASK/Data/cleaned_first_25000_rows.csv")

Saved cleaned file to: TRAIL TASK/Data/cleaned_first_25000_rows.csv